body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #808080; /* Gray background */
  color: #FFBF00; /* Amber text for general content */
}

footer .icon-link {
  font-size: 25px;
  color: #FFBF00; /* Amber for icons */
}

.link-block a {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #FFBF00; /* Amber for links */
}

.dnerf {
  font-variant: small-caps;
  color: #FFBF00; /* Amber text */
}

.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
  color: #FFBF00; /* Amber text */
}

.publication-title {
  font-family: 'Google Sans', sans-serif;
  color: #800080; /* Purple for titles */
}

.publication-header .hero-body {
  color: #FFBF00; /* Amber text */
}

.publication-authors {
  font-family: 'Google Sans', sans-serif;
  color: #FFBF00; /* Amber for authors */
}

.publication-venue {
  color: #555; /* Gray color for venue */
  font-weight: bold;
}

.publication-awards {
  color: #ff3860; /* Red for awards */
  font-weight: bolder;
}

.publication-authors a {
  color: #FFBF00 !important; /* Amber for author links */
}

.publication-authors a:hover {
  text-decoration: underline;
}

.author-block {
  display: inline-block;
  color: #FFBF00; /* Amber text */
}

.publication-banner img {
  border-radius: 10px;
}

.publication-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  border-radius: 10px !important;
}

.publication-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}

.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}
